resources/drawables/launcher_icon.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Light-19.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Regular-60.png filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Light.ttf filter=lfs diff=lfs merge=lfs -text
resources/fonts/SUSEMono-Regular.ttf filter=lfs diff=lfs merge=lfs -text
resources/graphics/EpochTime.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/EpochTimeCapture.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/EpochTimeHero-small.png filter=lfs diff=lfs merge=lfs -text
resources/graphics/EpochTimeHero.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/SUSEMono-Regular-34.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/SUSEMono-Regular-37.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/SUSEMono-Regular-48.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/SUSEMono-Light-7.png filter=lfs diff=lfs merge=lfs -text
resources-semi-octagon-176x176/fonts/SUSEMono-Regular-23.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/SUSEMono-Light-8.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/SUSEMono-Light-6.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/SUSEMono-Regular-42.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/SUSEMono-Regular-29.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/SUSEMono-Regular-52.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/SUSEMono-Regular-55.png filter=lfs diff=lfs merge=lfs -text
resources-semi-round-215x180/fonts/SUSEMono-Regular-24.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-320x360/fonts/SUSEMono-Light-13.png filter=lfs diff=lfs merge=lfs -text
resources-round-280x280/fonts/SUSEMono-Light-12.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/SUSEMono-Light-19.png filter=lfs diff=lfs merge=lfs -text
resources-round-454x454/fonts/SUSEMono-Regular-60.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-148x205/fonts/SUSEMono-Regular-20.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/SUSEMono-Regular-32.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/SUSEMono-Light-10.png filter=lfs diff=lfs merge=lfs -text
resources-round-240x240/fonts/SUSEMono-Regular-32.png filter=lfs diff=lfs merge=lfs -text
resources-round-260x260/fonts/SUSEMono-Light-11.png filter=lfs diff=lfs merge=lfs -text
resources-round-360x360/fonts/SUSEMono-Light-15.png filter=lfs diff=lfs merge=lfs -text
resources-round-390x390/fonts/SUSEMono-Light-16.png filter=lfs diff=lfs merge=lfs -text
resources-round-416x416/fonts/SUSEMono-Light-17.png filter=lfs diff=lfs merge=lfs -text
resources-rectangle-240x240/fonts/SUSEMono-Light-10.png filter=lfs diff=lfs merge=lfs -text
resources-round-218x218/fonts/SUSEMono-Light-9.png filter=lfs diff=lfs merge=lfs -text
